* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: #0b0c10;
  font-family: "Roboto Slab", serif;
}
/* header{
  position: sticky;
  top: 0;
  z-index: 2;
} */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply; */
}

nav ul {
  display: flex;
  justify-content: center;
  margin: 0 50px;
}

nav ul li {
  list-style: none;
  margin: 0 30px;
  
}

nav ul li a {
  text-decoration: none;
  color: #0b0c10;
}

nav ul li a:hover {
  color: #31333b;
  font-size: 1.1rem;
}

.left {
  font-size: 1.75rem;
  display: flex;
  justify-content: space-between;
}
.left .lg{
  font-size: 3rem;
  font-family: "Macondo", serif;
  font-weight: 900;
  margin: 0 122px;
}
.left .title{
  margin: 0 4px;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 200px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2.5rem;
}

.leftSection .buttons {
  padding: 70px 20px;
}

.leftSection .btn {
  background: transparent;
  color: #0b0c10;
  border: 2px solid #0b0c10;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  cursor: grab;
}

.rightSection img {
  width: 80%;
  border-radius: 60%;
  margin: auto;
}

.name {
  color: #02a063;
}

#element {
  color: #02a063;
}

main hr {
  border: 0;
  background: #0b0c10;
  height: 1.5px;
  margin: 30px 80px;
}

.secondSection {
  max-width: 170vh;
  margin: 25px 50px 75px 100px;
  width: 100%;
  height: 80vh;
}

.secondSection h1 {
  font-size: 2rem;
}

.grey {
  color: #4695e4;
  font-size: 0.8rem;
}

.btn:hover {
  color: #0b0c10;
  font-size: 1.1rem;
  border: 2px solid #0b0c10;
}

.card-list .card-item {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 40px;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  border-color: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.014);
}

.card-list.card-item.html {
  font-size: 1.5rem;
  color: whitesmoke;
  font-weight: 500;
  margin: 14px 0 40px;
}

.container {
  width: 50vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: normal;
}

.HTML {
  position: relative;
  width: 250px;
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

img:hover {
  display: block;
  margin: auto;
}

.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  user-select: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.content:hover {
  opacity: 1;
  cursor: grab;
}

.content h1 {
  font-size: 55px;
  color: #0b0c10;
  margin-bottom: 15px;
}

.content p {
  font-size: 19px;
  color: #4695e4;
}

.content > * {
  transform: translateY(25px);
  transition: transform 0.6s;
}

.content:hover > * {
  transform: translateY(0px);
}

.swiper-pagination {
  bottom: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #c5c6c7;
}

.swiper-button-next {
  right: 90px;
}

.swiper-button-prev {
  left: 90px;
}

.container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.thirdSection {
  max-width: 180vh;
  margin: 25px 50px 75px 100px;
  width: 100%;
  height: 80vh;
}

.thirdSection h1 {
  font-size: 2rem;
}

.fourthSection {
  max-width: 180vh;
  margin: 25px 50px 75px 100px;
  width: 100%;
  height: 80vh;
}

.fourthSection h1 {
  font-size: 2rem;
}

.fifthSection {
  max-width: 180vh;
  margin: 25px 50px 75px 100px;
  width: 100%;
  height: 80vh;
}

.fifthSection h1 {
  font-size: 2rem;
}

.sisthSection {
  max-width: 180vh;
  margin: 25px 50px 75px 100px;
  width: 100%;
  height: 80vh;
}

.sisthSection h1 {
  font-size: 2rem;
}

.footer {
  width: 100%;
  bottom: 0;
  /* background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply; */
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  color: #0b0c10;
  padding: 80px 0 30px;
  border-top-left-radius: 120px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 10%;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #c5c6c7;
  margin: 20px 0;
}

.footer h1 {
  font-family: "Macondo", serif;
  font-size: 2rem;
  width: 80px;
  margin-bottom: 30px;
}

.footer ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer ul li a {
  text-decoration: none;
  color: #0b0c10;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c5c6c7;
  margin-bottom: 50px;
}

form .fa-regular {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #c5c6c7;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fa-solid {
  font-size: 16px;
  color: #c5c6c7;
}

.socials .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #0b0c10;
  background: #c5c6c7;
  margin-right: 15px;
  cursor: pointer;
}
footer hr {
  border: 0;
  background: #c5c6c7;
  height: 1.5px;
  margin: 30px 80px;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span {
  height: 100%;
  width: 15px;
  background: #c5c6c7;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: mov 2s linear infinite;
}
@keyframes mov {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  z-index: 9;
  margin-top: 20px;
  padding-top: 40px;
}
.cards .card {
  height: 320px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px 8%;
  background: #bbcfe7;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.199);
  transition: 0.3s;
}
.cards .card h3 {
  font-size: 30px;
  color: #0b0c10;
  font-weight: 500;
  padding-bottom: 10px;
}

.cards .card p {
  font-size: 18px;
  color: #0b0c10;
  font-weight: 300;
  padding-bottom: 10px;
}
.cards .card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cards .card:hover h3 {
  color: #1e3a37;
  transition: color 0.3s ease;
}
.cards .card:hover p {
  color: #1e3a37;
  transition: color 0.3s ease;
}
.cards .card:hover .icon {
  color: #1e3a37;
  transition: color 0.3s ease;
}
.github {
  background: transparent;
  color: #0b0c10;
  border: 2px solid #0b0c10;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  cursor: grab;
  position: absolute;
}
.github:hover {
  color: #13547a;
  transform: translateY(-1px) scale(1);
  transition: color 0.3s ease;
  border: 2px solid #13547a;
}
/* Responsive Styles */
@media (max-width: 1200px) {
  .firstSection {
    flex-direction: column;
    align-items: center;
  }

  .firstSection > div {
    width: 80%;
    margin-bottom: 20px;
  }

  .secondSection,
  .thirdSection,
  .fourthSection,
  .fifthSection,
  .sisthSection {
    margin: 25px 20px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  .firstSection {
    margin: 100px 0;
  }

  .firstSection > div {
    width: 90%;
  }

  .secondSection,
  .thirdSection,
  .fourthSection,
  .fifthSection,
  .sisthSection {
    margin: 25px 10px;
  }

  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .left {
    font-size: 1.5rem;
  }

  .leftSection {
    font-size: 2rem;
  }

  .leftSection .btn {
    font-size: 16px;
    padding: 15px;
  }

  .rightSection img {
    width: 100%;
  }

  .content h1 {
    font-size: 40px;
  }

  .content p {
    font-size: 16px;
  }

  .footer {
    padding: 40px 0 20px;
  }

  .footer h1 {
    font-size: 1.5rem;
  }

  .footer ul li {
    margin-bottom: 8px;
  }

  .cards .card {
    height: auto;
    padding: 15px 5%;
  }

  .cards .card h3 {
    font-size: 24px;
  }

  .cards .card p {
    font-size: 16px;
  }
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-right img {
  height: 400px;
  width: 400px;
}
.contact-left-title h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr {
  border: none;
  width: 160px;
  height: 5px;

  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-input {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #06356d;
  border-radius: 50px;
}
.contact-left textarea {
  height: 150px;
  padding-top: 15px;
  border-radius: 20px;
  background: #fff;
}
